.element1 {
    opacity: 0.7;
    background: #edab92;
    float: left;
    width: 310px;
    border: 4px solid red;
    padding: 6px;
    padding-right: 40px;
}

.element2 {
    width: 310px;
    float: left;
    background: #fc0;
    border: solid 1px grey;
    position: static;
    padding: 6px;
    left: -65px;
    top: 55px;
    border-radius: 10px;
}
.element3 {
    width: 310px;
    float: left;
    background: #ADFF2F;
    border: solid 1px grey;
    position: static;
    padding: 6px;
    left: -65px;
    top: 55px;
    border-radius: 10px;
}
table.cinereousTable {
    border: 6px solid #948473;
    background-color: #FFE3C6;
    width: 100%;
    text-align: center;

}
table.cinereousTable td, table.cinereousTable th {
    border: 1px solid #948473;
    padding: 4px 4px;
}
table.cinereousTable tbody td {
    font-size: 13px;
}
table.cinereousTable thead {
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
table.cinereousTable thead th {
    font-size: 17px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 2px solid #948473;
}
table.cinereousTable thead th:first-child {
    border-left: none;
}

table.cinereousTable tfoot {
    font-size: 16px;
    font-weight: bold;
    color: #F0F0F0;
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
table.cinereousTable tfoot td {
    font-size: 16px;
}