<html lang="">
<link rel="stylesheet" href="/styles/style.css">
<head>

    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <title></title>
</head>

<body>

<table class="cinereousTable">
    <thead>
    <tr>
        <th>Sensors</th>
        <th>Current</th>
        <th>Change to</th>
        <th>Accept</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Temperature</td>
        <td>------</td>
        <td>
            <input type="text" size="15">
        </td>
        <td><input type="submit" value="Change"></td>
    </tr>
    <tr>
        <td>Humidity</td>
        <td>------</td>
        <td> <input type="text" size="15"> </td>
        <td><input type="submit" value="Change"></td>
    </tr>
    <tr>
        <td>Motor 1</td>
        <td>------</td>
        <td> <input type="text" size="15"> </td>
        <td><input type="submit" value="Change"></td>
    </tr>
    <tr>
        <td>Motor2</td>
        <td>------</td>
        <td> <input type="text" size="15"> </td>
        <td><input type="submit" value="Change"></td>
    </tr>
    </tbody>
</table>

</body>

</html>